
#mozcomics-pane {
	height: 300px;
}

#mozcomics-pane .toolbar {
	height: 32px;
	margin: 0;
	padding: 0;
}

#mozcomics-sidebar {
	width: 300px;
	background-color: white;
	overflow: auto;
}

#mozcomics-advanced-toggle {
	list-style-image: url("chrome://mozcomics/skin/toggle_minus.png");
}

#mozcomics-advanced-toggle[expand="true"] {
	list-style-image: url("chrome://mozcomics/skin/toggle_plus.png");
}

#mozcomics-sidebar treechildren::-moz-tree-checkbox {
  list-style-image: none;
}

#mozcomics-sidebar treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://mozcomics/skin/checked.png");
}

#mozcomics-strip-pane {
	background-color: white;
	overflow: auto;
	-moz-user-focus: normal;
	padding: 8px;
	text-align: center;
}

#mozcomics-strip-comic {
	font-size: 1.5em;
}

#mozcomics-strip-title {
	font-size: 1.0em;
}

#mozcomics-strip-image {
	padding: 8px;
}

#mozcomics-strip-image-tooltip {
	text-align: left;
}

#mozcomics-strip-tooltip-label {
	padding-top: 8px;
}

#mozcomics-tb-sidebar {
	list-style-image: url('chrome://mozcomics/skin/tb_sidebar_contract.png');
}

#mozcomics-tb-sidebar[expand="true"] {
	list-style-image: url('chrome://mozcomics/skin/tb_sidebar_expand.png');
}


#mozcomics-tb-preferences {
	list-style-image: url('chrome://mozcomics/skin/tb_preferences.png');
}

#mozcomics-tb-addcomic {
	list-style-image: url('chrome://mozcomics/skin/tb_addComic.png');
}

#mozcomics-tb-update {
	list-style-image: url('chrome://mozcomics/skin/tb_update.png');
}

#mozcomics-tb-updateFromFile {
	list-style-image: url('chrome://mozcomics/skin/tb_updateFromFile.png');
}

#mozcomics-update-last-successful {
	font-size: .75em;
	color: gray;
}

#mozcomics-tb-loading-image {
	list-style-image: url('chrome://mozcomics/skin/loading_image.gif');
	visibility: hidden;
}

#mozcomics-tb-back {
	list-style-image: url('chrome://mozcomics/skin/tb_back.png');
}

#mozcomics-tb-forward {
	list-style-image: url('chrome://mozcomics/skin/tb_forward.png');
}

#mozcomics-tb-first {
	list-style-image: url('chrome://mozcomics/skin/tb_first.png');
}

#mozcomics-tb-previous {
	list-style-image: url('chrome://mozcomics/skin/tb_previous.png');
}

#mozcomics-tb-random {
	list-style-image: url('chrome://mozcomics/skin/tb_random.png');
}

#mozcomics-tb-next {
	list-style-image: url('chrome://mozcomics/skin/tb_next.png');
}

#mozcomics-tb-last {
	list-style-image: url('chrome://mozcomics/skin/tb_last.png');
}

#mozcomics-tb-openWindow {
	list-style-image: url('chrome://mozcomics/skin/tb_openWindow.png');
}
